.App {
  text-align: center;
  padding: 20px 20px;
  .controll, .uncontroll{
    min-height: 300px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    .title{
      height: 32px;
      line-height: 32px;
      font-size: 14px;
      text-align: center;
      background-color: #717171;
      color: #ffffff;
    }
  }
}
